*{
    padding: 0%;
    margin: 0%; 
    text-decoration: none;  
 }
 .navbar{
     background: rgb(236, 158, 13); 
     font-family: calibri;
     padding-right: 15px;
     padding-left: 15px;
 }
 .navdiv{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .logo a{
     font-size: 35px;
     font-weight: 600;
     color: aliceblue;
 }
 li{
     list-style: none;
     display: inline-block;
 }
 
 li a{
     color: aliceblue;
     font-size: 18px;
     font-weight: bold;
     margin-right: 25px;
 
 }
 
 button{
     background-color: black;
     margin-left: 10px;
     border-radius: 10px;
     padding: 10px;
     width: 90px;
 }
 button a{
     color: aliceblue;
     font-weight: bold;
     font-size: 15px;
 }
 .navbar div a:hover{
     color: black;
 }
 
 .navbar div ul li a:hover{
       color: black;
 }
 .navbar div nav ul button a:hover{
     color: maroon;
 }
 /* ******************************************* */

#one7{
    width: 100%;
    border: 2px solid black;   
}  
#one7 h1{
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    font-size: 45px;
}
#one7 .one8 {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 20px; 
    justify-content: center;
} 
#one7 .one8 div{
    width: 300px;
    height: 250px;
    border: 1px solid rgb(12, 11, 11); 
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    margin-top: 2%;
}
/* ********************************************* */

#one9{
    width: 100%;
    border: 2px solid black;   
}  
#one9 h1{
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    font-size: 45px;
}
#one9 .one10 {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 20px; 
    justify-content: center;
} 
#one9 .one10 div{
    width: 300px;
    height: 250px;
    border: 1px solid rgb(12, 11, 11); 
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    margin-top: 2%;
}
/* ************************************************ */
#one11{
    width: 100%;
    border: 2px solid black;   
}  
#one11 h1{
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    font-size: 45px;
}
#one11 .one12 {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 20px; 
    justify-content: center;
} 
#one11 .one12 div{
    width: 300px;
    height: 250px;
    border: 1px solid rgb(12, 11, 11); 
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    margin-top: 2%;
}
/* ************************************************ */

.footer .main-part{
    background-color: black;
    padding: 35px; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 8px;
    border-top-right-radius: 20%;
}
.footer-heading{
    color: rgb(44, 191, 240);
    text-decoration: none;
    font-size: 35px;
    /* font-weight: 300; */
    margin: 10px;
}
.footer-para{
    color: whitesmoke;
    font-size: 20px;
    padding: 15px;
    line-height: 1.8; 
}
.share a{
    height: 65px;
    width: 65px;
    text-decoration: none;
    background: whitesmoke;
    border-radius: 50%;
    margin-right: 32px;
    text-align: center;
    font-size: 32px;
    color: black;
    line-height: 64px;
}
.share a:hover{
    background-color: green;
}
.links{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 20px;
}